.loader {
  width: 50px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px #fff inset;
  border-radius: 50%;
  position: relative;
  animation: l11 7s infinite;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: calc(100% + 3px);
  left: calc(50% - 12.5px);
  box-shadow: inherit;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  transform-origin: 50% -28px;
  animation: l11 1.5s infinite;
}
.loader:after {
  animation-delay: -0.75s;
}
@keyframes l11 {
  100% {
    transform: rotate(360deg);
  }
}

.btn-loader {
  display: inline-block;
  width: 60px;
  height: 20px;
  aspect-ratio: 2;
  background: radial-gradient(circle closest-side,#002B56 90%,#002B56) 0/calc(100%/3) 100% no-repeat;
  animation: l2 1.5s steps(3) infinite;
}
@keyframes l2 {to{background-position: 150%}}